In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("private/clean_tax_risk_data.csv")
df.head()

,text,company,year,file_name,dummy1,dummy2,dummy3
0,- creasing freight rates. The purchase o...,a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,1,0,0
1,",209 Current - 135 527 662 Non-c...",a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,0,0,0
2,9 Provisions made during the year 493 41...,a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,0,0,0
3,"delivery from banks, export credit organisat...",a.p. moller-maersk,2008,A.P. Moller-Maersk_2008.TXT,1,0,0
4,"December 2008 6,853 447 9,711 17,011 ...",a.p. moller-maersk,2008,A.P. Moller-Maersk_2008.TXT,0,0,0

In [20]:
df[df['company'] == 'bnp paribas']

,text,company,year,file_name,dummy1,dummy2,dummy3
3699,for accounting and financial data\x94 for e...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3700,is subject to local tax laws and regulation...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3701,services companies. Group Tax Affairs is a g...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3702,overseeing the consistency of the Group\x92...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3703,backup checks to ensure that tax risks rema...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3704,tax risks remain at a manageable level and ...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3705,are consistent with the Group\x92s reputati...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3706,and Macao. Group Tax Affairs resources inclu...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3707,": \x95 a network of tax correspondents, cove...",bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3708,"used. Regular visits are made, particularly ...",bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3709,reporting system to Group Executive Manageme...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3710,made of delegations of authority and complia...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3711,clear framework has been defined for the ass...,bnp paribas,2005,BNP PARIBAS_2005.TXT,1,1,1
3712,229 3.d Net income from other activities ....,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3713,"6.d 92,706 75,778 Loans and receivables due...",bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3714,"profit or loss 6.b 610,681 457,126 Derivat...",bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3715,"income 7,231 - 224 (129) 7,326 Cost of...",bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3716,"income 6,553 - 217 (129) 6,641 Share o...",bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3717,income from other activities (23) Net bank...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3718,and impairment 1 (13) (1) Gross operating...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3719,8 (11) (24) Cost of risk Operating inco...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3720,liabilities at fair value through profit or ...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3721,liabilities at fair value through profit or ...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3722,of increasing shareholders\x92 equity at 1 ...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3723,banking risks (752) (840) Shareholders\x92 e...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3724,"income and other assets (5) Total assets 1,3...",bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3725,shares acquired. PROVISIONS RECORDED UNDER ...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3726,". 2004, under 2004 IFRS Year to 31 Dec. 2...",bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3727,31 December 2005 (EUR 373 million at 1 Janua...,bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
3728,"7,231 6,650 Net additions to provisions for...",bnp paribas,2005,BNP PARIBAS_2005.TXT,0,0,0
...,...,...,...,...,...,...,...
4123,cient programme (EUR 717 million in 2014)...,bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4124,assets and other financial assets not measur...,bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4125,"258,933 252,292 Loans and receivables due f...",bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4126,"fi nancial instruments 5.a 325,828 410,250 ...",bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4127,RECORDED UNDER LIABILITIES Provisions rec...,bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4128,BY BUSINESS SEGMENT In millions of euros ...,bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4129,Excep- tional costs (3) Ope- rating ...,bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4130,31 December 2015 31 December 2014 (1) Avai...,bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4131,"fi nancial assets, including those reclassif...",bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4132,"assets, including those reclassifi ed as loa...",bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4133,"reclassifi ed as loans and receivables (1,21...",bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4134,than 10%-owned 137 387 (37) 487 1 of which...,bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4135,qualifying for Tier 2 capital 467 - - 467 5 ...,bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4136,"fi nancial assets 252,292 (106,282) 4,512 1...",bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4137,"profi t or loss 57,632 (4,119) - 53,513 D...",bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0
4138,. Credit or market events such as default o...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,0,0
4139,functions. TAX RISK In each country where...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4140,", BNP Paribas is bound by specifi c local ...",bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4141,that the tax risk is managed throughout all...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4142,throughout all of the transactions conducte...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4143,conducted by the Group. In view of the fi ...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4144,businesses and in the main geographical are...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4145,geographical areas where the Group operates ...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4146,operates (as well as tax correspondents in ...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4147,). In ensuring the coherence of the Group\x9...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4148,"up procedures covering all divisions, design...",bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4149,"that tax risks are identifi ed, addressed ...",bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4150,", addressed and controlled appropriately; ...",bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4151,falling within the T ax F unction\x92s scope...,bnp paribas,2015,BNP PARIBAS_2015.TXT,1,1,1
4152,these risks is done within BNP Paribas Cardi...,bnp paribas,2015,BNP PARIBAS_2015.TXT,0,0,0

In [21]:
sorted_df = df.sort_values(by=['company'])
sorted_df.head()

,text,company,year,file_name,dummy1,dummy2,dummy3
858,Risks arising from external factors inclu...,3i grp,2009,3I GRP_2009.TXT,1,0,0
870,managing the business. \x96 Meets monthly. ...,3i grp,2015,3I GRP_2015.TXT,1,0,0
869,framework Annual and half-year reports Q...,3i grp,2014,3I GRP_2014.TXT,1,0,0
868,the Group\x92s regulatory compliance funct...,3i grp,2013,3I GRP_2013.TXT,1,1,1
867,risks under active review by the Group Risk...,3i grp,2013,3I GRP_2013.TXT,1,0,0

In [26]:
sorted_df.reset_index(inplace=True)

In [30]:
sorted_df.head()
sorted_df.drop(['index'], axis=1, inplace=True)

In [31]:
sorted_df.head()

,text,company,year,file_name,dummy1,dummy2,dummy3
0,Risks arising from external factors inclu...,3i grp,2009,3I GRP_2009.TXT,1,0,0
1,managing the business. \x96 Meets monthly. ...,3i grp,2015,3I GRP_2015.TXT,1,0,0
2,framework Annual and half-year reports Q...,3i grp,2014,3I GRP_2014.TXT,1,0,0
3,the Group\x92s regulatory compliance funct...,3i grp,2013,3I GRP_2013.TXT,1,1,1
4,risks under active review by the Group Risk...,3i grp,2013,3I GRP_2013.TXT,1,0,0

In [32]:
sorted_df[:2]

,text,company,year,file_name,dummy1,dummy2,dummy3
0,Risks arising from external factors inclu...,3i grp,2009,3I GRP_2009.TXT,1,0,0
1,managing the business. \x96 Meets monthly. ...,3i grp,2015,3I GRP_2015.TXT,1,0,0

In [35]:
offset = int(len(sorted_df) * 0.75)

In [41]:
train_df = sorted_df[:offset-57]
test_df = sorted_df[offset-57:]

In [42]:
train_df.tail(1)

,text,company,year,file_name,dummy1,dummy2,dummy3
20012,Audit Committee mainly related to: \x95 F...,sandvik,2012,Sandvik_2012.TXT,1,0,0

In [43]:
test_df.head(1)

,text,company,year,file_name,dummy1,dummy2,dummy3
20013,"to assets held for sale or exchange, which w...",sanofi,2013,Sanofi_2013.TXT,0,0,0

In [44]:
train_df.to_csv("private/sorted_train.csv", index=False)
test_df.to_csv("private/sorted_test.csv", index=False)

In [45]:
train_df = pd.read_csv("private/sorted_train.csv")
test_df = pd.read_csv("private/sorted_test.csv")

In [46]:
train_df.head()

,text,company,year,file_name,dummy1,dummy2,dummy3
0,Risks arising from external factors inclu...,3i grp,2009,3I GRP_2009.TXT,1,0,0
1,managing the business. \x96 Meets monthly. ...,3i grp,2015,3I GRP_2015.TXT,1,0,0
2,framework Annual and half-year reports Q...,3i grp,2014,3I GRP_2014.TXT,1,0,0
3,the Group\x92s regulatory compliance funct...,3i grp,2013,3I GRP_2013.TXT,1,1,1
4,risks under active review by the Group Risk...,3i grp,2013,3I GRP_2013.TXT,1,0,0

In [51]:
train_companies = set(train_df.company)

In [52]:
train_companies

{'3i grp',
 'a.p. moller-maersk',
 'a2a',
 'aa plc',
 'aalberts industries',
 'aareal bank',
 'abb',
 'aberdeen asset management',
 'abn amro group',
 'accor',
 'acs',
 'actelion',
 'adecco',
 'adidas',
 'admiral grp',
 'adp',
 'aegon',
 'aena',
 'ageas',
 'aggreko',
 'ahold delhaize',
 'air liquide',
 'airbus group se',
 'akzonobel',
 'allianz',
 'alstom',
 'altice',
 'amadeus it group',
 'amec foster wheeler',
 'amer sports',
 'andritz',
 'anglo american',
 'anheuser-busch inbev',
 'antofagasta',
 'arcelormittal',
 'arkema',
 'aryzta',
 'ashtead grp',
 'asm international',
 'asml hldg',
 'assa abloy',
 'assicurazioni generali',
 'associated british foods',
 'astrazeneca',
 'atlantia',
 'atlas copco',
 'auto trader group',
 'aviva',
 'axa',
 'azimut hldg',
 'b&m european value retail',
 'babcock international',
 'bae systems',
 'balfour beatty',
 'baloise',
 'bank of ireland',
 'bankinter',
 'barclays plc',
 'barratt developments',
 'barry callebaut',
 'basf',
 'bayer',
 'bba aviation',
 'bca popolare di milano',
 'bco bilbao vizcaya argentaria',
 'bco popolare',
 'bco popular espanol',
 'bco sabadell',
 'bco santander',
 'beazley',
 'beiersdorf',
 'bellway',
 'berendsen',
 'berkeley grp hldg',
 'bhp billiton',
 'bilfinger',
 'billerudkorsnas',
 'bmw',
 'bnp paribas',
 'boliden',
 'bolsas y mercados espanoles',
 'booker grp',
 'boskalis westminster',
 'bouygues',
 'bp',
 'bpost sa',
 'brenntag',
 'british american tobacco',
 'british land company',
 'britvic',
 'bt group',
 'btg',
 'bunzl',
 'burberry',
 'bureau veritas',
 'buwog',
 'caixabank',
 'cap gemini',
 'capita grp',
 'capital & counties properties',
 'carlsberg',
 'carnival',
 'carrefour',
 'casino guichard',
 'castellum',
 'cellnex telecom',
 'cembra money bank',
 'centamin',
 'centrica',
 'cez',
 'chr hansen',
 'christian dior',
 'cie financiere richemont',
 'clariant',
 'close brothers',
 'cnh industrial nv',
 'cnp assurances',
 'cobham',
 'coca-cola hbc',
 'cofinimmo',
 'coloplast',
 'commerzbank',
 'compassgroup',
 'continental',
 'credit agricole',
 'credit suisse',
 'crh',
 'croda international',
 'daily mail & general trust',
 'daimler',
 'danone',
 'danske bank',
 'dassault aviation',
 'dassault systems',
 'davide campari',
 'dcc',
 'delta lloyd',
 'derwent_london',
 'deutsche bank',
 'deutsche boerse tendered',
 'deutsche euroshop',
 'deutsche post',
 'deutsche telekom',
 'deutsche wohnen',
 'diageo',
 'dialog semicon',
 'direct line insurance group',
 'distribuidora int alimentacion',
 'dixons carphone',
 'dksh holding',
 'dnb',
 'dominos pizza group',
 'dong energy',
 'drax grp',
 'ds smith',
 'dsv',
 'duerr',
 'dufry',
 'e.on',
 'easyjet',
 'edenred',
 'edf',
 'edp energias de portugal',
 'eiffage',
 'electrolux b',
 'elekta b',
 'elior group',
 'elisa corporation',
 'ems-chemie',
 'enagas',
 'endesa',
 'enel',
 'engie',
 'eni',
 'ericsson lm b',
 'erste group bank',
 'essentra plc',
 'essilor international',
 'ets colruyt',
 'eurazeo',
 'eurofins scientific',
 'euronext',
 'eutelsat communications',
 'evonik industries',
 'exor nv',
 'experian',
 'fabege',
 'fastighets balder b',
 'faurecia',
 'ferrari',
 'ferrovial',
 'fiat chrysler automobiles',
 "fingerprint cards 'b'",
 'firstgroup',
 'flughafen zuerich',
 'fonciere des regions',
 'fortum',
 'fraport',
 'freenet',
 'fresenius',
 'fresenius medical care',
 'fresnillo',
 'fuchs petrolub pref',
 'galapagos',
 'galenica',
 'galp energia',
 'gamesa',
 'gas natural',
 'gea group',
 'gecina',
 'gemalto',
 'genmab',
 'georg fischer',
 'gerresheimer',
 'getinge b',
 'givaudan',
 'gjensidige forsikring',
 'gkn',
 'glanbia',
 'glaxosmithkline',
 'glencore plc',
 'gn store nord',
 'great portland estates',
 'greene king',
 'grifols',
 'group 4 securicor',
 'grp bruxelles lambert',
 'grp eurotunnel',
 'grp societe generale',
 'gvc holdings',
 'h. lundbeck',
 'halma',
 'hammerson',
 'hannover rueck',
 'hargreaves lansdown',
 'hays',
 'heidelbergcement',
 'heineken holding nv',
 'heineken nv',
 'helvetia',
 'henkel pref',
 'hennes & mauritz b',
 'hermes international',
 'hexagon b',
 "hexpol 'b'",
 'hikma pharmaceuticals',
 'hiscox',
 'hochtief',
 'howden joinery group',
 'hsbc',
 'hugo boss',
 'huhtamaki',
 'husqvarna b',
 'iag',
 'iberdrola',
 'ica gruppen',
 'icade',
 'ig group hldg',
 'iliad',
 'imcd',
 'imerys',
 'imi',
 'immofinanz',
 'imperial brands',
 'inchcape',
 'indivior',
 'industria de diseno textil',
 'industrivarden',
 'infineon',
 'informa',
 'ing group',
 'ingenico',
 'inmarsat',
 'intercontinental hotels group',
 'intermediate capital group',
 'intertek group',
 'intesa sanpaolo',
 'intrum justitia',
 'intu properties',
 'investec',
 'investor',
 'ipsen',
 'iss as',
 'italgas (snam)',
 'itv',
 'iwg plc (regus)',
 'jcdecaux',
 'jeronimo martins',
 'jm',
 'johnson matthey',
 'julius baer group ltd',
 'jupiter fund management',
 'jyske bank',
 'k + s',
 'kbc grp',
 'kering',
 'kerry grp',
 'kesko',
 'kindred group',
 'kingfisher',
 'kingspan grp',
 'kion',
 'klepierre',
 'komercni banka',
 'kone',
 'koninklijke dsm',
 'kpn',
 'kuehne + nagel',
 "l'oreal",
 'lafargeholcim',
 'lagardere',
 'land securities',
 'lanxess',
 'leg immobilien',
 'legal & general grp',
 'leonardo finmeccanica',
 'linde',
 'lindt & spruengli reg',
 'lloyds banking grp',
 'logitech international',
 'london stock exchange',
 'lonza',
 'lufthansa',
 'lundbergforetagen b',
 'lundin petroleum',
 'luxottica',
 'lvmh moet hennessy',
 'man grp',
 'man se',
 'mapfre',
 'marine harvest',
 'marks & spencer',
 'mediaset',
 'mediaset espana comunicacion',
 'mediclinic international',
 'mediobanca',
 'meggitt',
 'melrose industries',
 'merck',
 'merlin entertainments',
 'merlin properties socimi',
 'metro',
 'metso',
 'michelin',
 'micro focus international',
 'moncler',
 'mondi',
 'moneysupermarket com gp',
 'morrison (william) supermark',
 'mtu aero engines',
 'münchener rueck',
 'national grid',
 'natixis',
 'ncc b',
 'neste',
 'nestle',
 'nets as',
 'new wh smith',
 'nex group',
 'next',
 'nibe industrier b',
 'nn group',
 'nokia',
 'nokian renkaat',
 'nordea bank',
 'norsk hydro',
 'novartis',
 'novo nordisk b',
 'novozymes',
 'oc oerlikon',
 'ocado',
 'old mutual',
 'omv',
 'ontex group',
 'orange',
 'orion b',
 'orkla',
 'orpea',
 'osram',
 'paddy power betfair',
 'pandora',
 'pargesa',
 'paysafe group',
 'pearson',
 'pennon grp',
 'pernod ricard',
 'persimmon',
 'petrofac',
 'peugeot',
 'philips',
 'phoenix group hdg.',
 'plastic omnium',
 'playtech',
 'polymetal international',
 'porsche',
 'poste italiane',
 'postnl',
 'prosiebensat.1 media',
 'provident financial',
 'proximus',
 'prudential',
 'prysmian',
 'psp swiss property',
 'publicis',
 'qiagen',
 'qinetiq grp',
 'raiffeisen bank international',
 'randgold resources',
 'randstad',
 'reckitt benckiser grp',
 'recordati',
 'red electrica corporation',
 'reed elsevier plc',
 'renault',
 'rentokil initial',
 'repsol',
 'rexel',
 'rheinmetall',
 'rightmove grp',
 'rio tinto',
 'roche hldg p',
 'rolls royce hldg',
 'rotork',
 'royal bank of scotland grp',
 'royal dutch shell',
 'royal mail',
 'rpc group',
 'rsa insurance grp',
 'rtl grp',
 'rubis',
 'rwe',
 'ryanair',
 'saab',
 'safran',
 'saga',
 'sage grp',
 'sainsbury (j)',
 'saint gobain',
 'saipem',
 'sampo',
 'sandvik'}

In [53]:
test_companies = set(test_df.company)

In [54]:
test_companies

{'sanofi',
 'sap',
 'sartorius',
 'sbm offshore',
 'schaeffler',
 'schibsted gruppen',
 'schindler',
 'schneider electric',
 'schroders',
 'scor',
 'scottish & southern energy',
 'seb',
 'securitas',
 'segro',
 'ses',
 'severn trent',
 'sfr group',
 'sgs',
 'shire',
 'siemens',
 'sika',
 'simcorp',
 'skandinaviska enskilda bk',
 'skanska',
 'skf',
 'sky',
 'smith & nephew',
 'smiths grp',
 'smurfit kappa grp',
 'snam',
 'sodexo',
 'software',
 'solvay',
 'sonova',
 'spectris',
 'spirax-sarco',
 'springer (axel)',
 "st. james's place",
 'stada arzneimittel',
 'standard chartered',
 'standard life',
 'statoil',
 'steinhoff',
 'stmicroelectronics',
 'stora enso',
 'storebrand',
 'straumann',
 'subsea 7',
 'suez environnement',
 'sunrise',
 'svenska cellulosa',
 'svenska handelsbanken',
 'swatch',
 'swedbank',
 'swedish match',
 'swedish orphan biovitrum',
 'swiss life',
 'swiss prime site',
 'swiss reinsurance',
 'swisscom',
 'sydbank',
 'symrise',
 'syngenta',
 'tate & lyle',
 'taylor wimpey',
 'tdc',
 'technicolor',
 'technip',
 'tele2',
 'telecom italia',
 'telefonica',
 'telefonica deutschland',
 'telenet group holding',
 'telenor',
 'teleperformance',
 'telia company',
 'temenos group',
 'tenaris',
 'terna',
 'tesco',
 'thales',
 'thyssenkrupp',
 'topdanmark',
 'total',
 'travis perkins',
 'trelleborg',
 'tryg',
 'tui',
 'tullow oil',
 'ubi banca',
 'ubisoft entertainment',
 'ubm',
 'ubs',
 'ucb',
 'ultra electronics',
 'umicore',
 'unibail-rodamco',
 'unicredit',
 'unilever',
 'uniper',
 'unipolsai',
 'united internet',
 'united utilities group',
 'upm kymmene',
 'valeo',
 'veolia environnement',
 'vestas wind systems',
 'victrex',
 'vinci',
 'viscofan',
 'vivendi',
 'vodafone',
 'voestalpine',
 'volkswagen',
 'volvo',
 'vonovia',
 'vopak',
 'wartsila',
 'weir group',
 'wendel',
 'wereldhave',
 'whitbread',
 'wienerberger',
 'william demant',
 'william hill',
 'wirecard',
 'wolseley',
 'wolters kluwer',
 'wood group',
 'worldpay group',
 'wpp',
 'ws atkins',
 'yara',
 'zodiac aerospace',
 'zurich insurance group'}