In [1]:
import pandas as pd
import numpy as np

In [78]:
orig_df = pd.read_excel("/Users/torayeff/Downloads/data.xlsx")
orig_df.head()

,Number of Hits,Description (15 Words left - 15 Words right) - 500 Search Window Size,Company name_year,"Dummy ""tax risk rudimentary""","Dummy ""tax risk extensive""","Dummy ""tax risk management"" (only if Dummy ""tax risk"" is 1)",Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 549,Unnamed: 550,Unnamed: 551,Unnamed: 552,Unnamed: 553,Unnamed: 554,Unnamed: 555,Unnamed: 556,Unnamed: 557,Unnamed: 558
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,- creasing freight rates. The purchase o...,A.P. Moller-Maersk_2007.TXT,1,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,",209 Current - 135 527 662 Non-c...",A.P. Moller-Maersk_2007.TXT,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,9 Provisions made during the year 493 41...,A.P. Moller-Maersk_2007.TXT,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,"delivery from banks, export credit organisat...",A.P. Moller-Maersk_2008.TXT,1,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
df = orig_df.copy()

In [249]:
df.columns

Index(['Number of Hits',
       'Description (15 Words left - 15 Words right) - 500 Search Window Size',
       'Company name_year', 'Dummy "tax risk rudimentary"',
       'Dummy "tax risk extensive"',
       'Dummy "tax risk management" (only if Dummy "tax risk" is 1)',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 549', 'Unnamed: 550', 'Unnamed: 551', 'Unnamed: 552',
       'Unnamed: 553', 'Unnamed: 554', 'Unnamed: 555', 'Unnamed: 556',
       'Unnamed: 557', 'Unnamed: 558'],
      dtype='object', length=559)

In [250]:
df = df[['Description (15 Words left - 15 Words right) - 500 Search Window Size',
         'Company name_year',
         'Dummy "tax risk rudimentary"',
         'Dummy "tax risk extensive"',
         'Dummy "tax risk management" (only if Dummy "tax risk" is 1)']]
df.head()

,Description (15 Words left - 15 Words right) - 500 Search Window Size,Company name_year,"Dummy ""tax risk rudimentary""","Dummy ""tax risk extensive""","Dummy ""tax risk management"" (only if Dummy ""tax risk"" is 1)"
0,NaN,NaN,NaN,NaN,NaN
1,- creasing freight rates. The purchase o...,A.P. Moller-Maersk_2007.TXT,1,0,0
2,",209 Current - 135 527 662 Non-c...",A.P. Moller-Maersk_2007.TXT,0,0,0
3,9 Provisions made during the year 493 41...,A.P. Moller-Maersk_2007.TXT,0,0,0
4,"delivery from banks, export credit organisat...",A.P. Moller-Maersk_2008.TXT,1,0,0

In [251]:
df.columns = ['text', 'company_year', 'dummy1', 'dummy2', 'dummy3']
df.head()

,text,company_year,dummy1,dummy2,dummy3
0,NaN,NaN,NaN,NaN,NaN
1,- creasing freight rates. The purchase o...,A.P. Moller-Maersk_2007.TXT,1,0,0
2,",209 Current - 135 527 662 Non-c...",A.P. Moller-Maersk_2007.TXT,0,0,0
3,9 Provisions made during the year 493 41...,A.P. Moller-Maersk_2007.TXT,0,0,0
4,"delivery from banks, export credit organisat...",A.P. Moller-Maersk_2008.TXT,1,0,0

In [252]:
len(df)

29281

In [253]:
df.dropna(inplace=True)
print(len(df))
df.head()

28556

,text,company_year,dummy1,dummy2,dummy3
1,- creasing freight rates. The purchase o...,A.P. Moller-Maersk_2007.TXT,1,0,0
2,",209 Current - 135 527 662 Non-c...",A.P. Moller-Maersk_2007.TXT,0,0,0
3,9 Provisions made during the year 493 41...,A.P. Moller-Maersk_2007.TXT,0,0,0
4,"delivery from banks, export credit organisat...",A.P. Moller-Maersk_2008.TXT,1,0,0
5,"December 2008 6,853 447 9,711 17,011 ...",A.P. Moller-Maersk_2008.TXT,0,0,0

In [254]:
mask = (df['dummy1'] == 0) | (df['dummy1'] == 1)
df = df[mask]

In [255]:
print(len(df))

28477

In [256]:
mask = (df['dummy2'] != 0) & (df['dummy2'] != 1)
df.dummy1 = df.dummy1.astype(int)

In [257]:
mask = (df['dummy2'] == 0) | (df['dummy2'] == 1) | (df['dummy2'] == '0') | (df['dummy2'] == '1')
df = df[mask]

In [258]:
df.dummy2 = df.dummy2.astype(int)

In [259]:
mask = (df['dummy3'] == 0) | (df['dummy3'] == 1) | (df['dummy3'] == '0') | (df['dummy3'] == '1')
df = df[mask]

In [260]:
df.dummy3 = df.dummy3.astype(int)

In [261]:
len(df)

28474

In [262]:
df['dummy1'].value_counts()

0    20685
1     7789
Name: dummy1, dtype: int64

In [263]:
df['dummy2'].value_counts()

0    23509
1     4965
Name: dummy2, dtype: int64

In [264]:
df['dummy3'].value_counts()

0    26000
1     2474
Name: dummy3, dtype: int64

In [265]:
df.to_csv("private/super_clean_data.csv")

In [266]:
df = pd.read_csv("private/super_clean_data.csv")
df = df[['text', 'company_year', 'dummy1', 'dummy2', 'dummy3']]
df.head()

,text,company_year,dummy1,dummy2,dummy3
0,- creasing freight rates. The purchase o...,A.P. Moller-Maersk_2007.TXT,1,0,0
1,",209 Current - 135 527 662 Non-c...",A.P. Moller-Maersk_2007.TXT,0,0,0
2,9 Provisions made during the year 493 41...,A.P. Moller-Maersk_2007.TXT,0,0,0
3,"delivery from banks, export credit organisat...",A.P. Moller-Maersk_2008.TXT,1,0,0
4,"December 2008 6,853 447 9,711 17,011 ...",A.P. Moller-Maersk_2008.TXT,0,0,0

In [267]:
df.to_csv("private/super_clean_data.csv", index=False)

In [268]:
df = pd.read_csv("private/super_clean_data.csv")
df.head()

,text,company_year,dummy1,dummy2,dummy3
0,- creasing freight rates. The purchase o...,A.P. Moller-Maersk_2007.TXT,1,0,0
1,",209 Current - 135 527 662 Non-c...",A.P. Moller-Maersk_2007.TXT,0,0,0
2,9 Provisions made during the year 493 41...,A.P. Moller-Maersk_2007.TXT,0,0,0
3,"delivery from banks, export credit organisat...",A.P. Moller-Maersk_2008.TXT,1,0,0
4,"December 2008 6,853 447 9,711 17,011 ...",A.P. Moller-Maersk_2008.TXT,0,0,0

In [269]:
test = df.loc[1].company_year

In [270]:
test

' A.P. Moller-Maersk_2007.TXT'

In [272]:
test.lower()

' a.p. moller-maersk_2007.txt'

In [273]:
df['file_name'] = df['company_year'].copy()

In [274]:
df.head()

,text,company_year,dummy1,dummy2,dummy3,file_name
0,- creasing freight rates. The purchase o...,A.P. Moller-Maersk_2007.TXT,1,0,0,A.P. Moller-Maersk_2007.TXT
1,",209 Current - 135 527 662 Non-c...",A.P. Moller-Maersk_2007.TXT,0,0,0,A.P. Moller-Maersk_2007.TXT
2,9 Provisions made during the year 493 41...,A.P. Moller-Maersk_2007.TXT,0,0,0,A.P. Moller-Maersk_2007.TXT
3,"delivery from banks, export credit organisat...",A.P. Moller-Maersk_2008.TXT,1,0,0,A.P. Moller-Maersk_2008.TXT
4,"December 2008 6,853 447 9,711 17,011 ...",A.P. Moller-Maersk_2008.TXT,0,0,0,A.P. Moller-Maersk_2008.TXT

In [275]:
df['company_year'] = df['company_year'].apply(lambda x: x.lower())

In [276]:
test[:-4]

' A.P. Moller-Maersk_2007'

In [277]:
df['company_year'] = df['company_year'].apply(lambda x: x[:-4])

In [278]:
df.head(1000)

,text,company_year,dummy1,dummy2,dummy3,file_name
0,- creasing freight rates. The purchase o...,a.p. moller-maersk_2007,1,0,0,A.P. Moller-Maersk_2007.TXT
1,",209 Current - 135 527 662 Non-c...",a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT
2,9 Provisions made during the year 493 41...,a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT
3,"delivery from banks, export credit organisat...",a.p. moller-maersk_2008,1,0,0,A.P. Moller-Maersk_2008.TXT
4,"December 2008 6,853 447 9,711 17,011 ...",a.p. moller-maersk_2008,0,0,0,A.P. Moller-Maersk_2008.TXT
5,ns used during the year - 41 41 Prov...,a.p. moller-maersk_2008,0,0,0,A.P. Moller-Maersk_2008.TXT
6,\x92s envi- ronmental impact and its social r...,a.p. moller-maersk_2009,1,1,1,A.P. Moller-Maersk_2009.TXT
7,"urrent \x96 467 2,315 2,782 Classified a...",a.p. moller-maersk_2009,0,0,0,A.P. Moller-Maersk_2009.TXT
8,"otal 3,809 319 3,930 8,058 Non-current ...",a.p. moller-maersk_2009,0,0,0,A.P. Moller-Maersk_2009.TXT
9,global human rights standards associated wi...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
10,set by OECD for multinational enterprises e...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
11,been developed with the intention of closin...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
12,"has a Responsible Procurement Programme, hea...",a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
13,global labour principles in place to mitiga...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
14,the risk of non-compliance. Tax The Group i...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
15,different tax regimes in 130 countries and ...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
16,of an unex- pected tax expense due to uncert...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
17,"2 1,375 20,947 4,515 2,760 2,539 205 2 ...",a.p. moller-maersk_2011,0,0,0,A.P. Moller-Maersk_2011.TXT
18,Human rights It is a priority for the Group ...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
19,compliant with the global human rights stan...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
20,and standards set by OECD for multinational ...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
21,implemented a Responsible Procurement Progr...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
22,global labour principles in place to miti- g...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
23,- gate the risk of non-compliance. Tax The Gr...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
24,is exposed to a large number of different t...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
25,combinations Unwind of discount Exchange rat...,a.p. moller-maersk_2012,0,0,0,A.P. Moller-Maersk_2012.TXT
26,8 km long. 162 Notes to the financial st...,a.p. moller-maersk_2012,0,0,0,A.P. Moller-Maersk_2012.TXT
27,rate adjustment 31 December 2012 Of which: C...,a.p. moller-maersk_2012,0,0,0,A.P. Moller-Maersk_2012.TXT
28,", assets held for sale Exchange rate adjustm...",a.p. moller-maersk_2013,0,0,0,A.P. Moller-Maersk_2013.TXT
29,adjustment 31 December 2013 Of which: Cl...,a.p. moller-maersk_2013,0,0,0,A.P. Moller-Maersk_2013.TXT
...,...,...,...,...,...,...
970,track record ? ?Reputational risks arising...,3i grp_2011,1,0,0,3I GRP_2011.TXT
971,structure. Risks arising from inadequate o...,3i grp_2011,1,0,0,3I GRP_2011.TXT
972,track record ? ?Reputational risks arising...,3i grp_2011,1,0,0,3I GRP_2011.TXT
973,n n Group Risk Committee and Audit and Comp...,3i grp_2012,1,0,0,3I GRP_2012.TXT
974,n n Group Risk Committee and Audit and Comp...,3i grp_2012,1,0,0,3I GRP_2012.TXT
975,risks under active review by the Group Risk...,3i grp_2013,1,0,0,3I GRP_2013.TXT
976,the Group\x92s regulatory compliance funct...,3i grp_2013,1,1,1,3I GRP_2013.TXT
977,framework Annual and half-year reports Q...,3i grp_2014,1,0,0,3I GRP_2014.TXT
978,managing the business. \x96 Meets monthly. ...,3i grp_2015,1,0,0,3I GRP_2015.TXT
979,in value were recognised in profit or loss. ...,ageas_2005,0,0,0,AGEAS_2005.TXT
980,by Fortis were not recorded. Since treasury...,ageas_2005,0,0,0,AGEAS_2005.TXT
981,"banking risks Unlike FAP, IFRS does not all...",ageas_2005,0,0,0,AGEAS_2005.TXT
982,Capital gains due to revaluations IV Rese...,a. provisions for risks and char,0,0,0,A. Provisions for risks and charges
983,for distribution For own shares Other Tax...,a. provisions for risks and char,0,0,0,A. Provisions for risks and charges
984,distribution V Profit carried forward PRO...,a. provisions for risks and char,0,0,0,A. Provisions for risks and charges
985,", the ALM profile (in terms of fair value an...",ageas_2006,0,0,0,AGEAS_2006.TXT
986,sensitivity of the future net income to hyp...,ageas_2006,0,0,0,AGEAS_2006.TXT
987,"revaluations IV Reserves 6,504,060 6...",ageas_2006,0,0,0,AGEAS_2006.TXT
988,"556,063 556,063 1. For own shares ...",ageas_2006,0,0,0,AGEAS_2006.TXT
989,"distribution 5,373,608 5,373,609 V Profi...",ageas_2006,0,0,0,AGEAS_2006.TXT
990,register C2. Staff costs (item...,ageas_2006,0,0,0,AGEAS_2006.TXT
991,appointment of a new Compliance Of?cer. Di...,ageas_2007,1,1,1,AGEAS_2007.TXT
992,and accounting data communicated externally...,ageas_2007,1,1,1,AGEAS_2007.TXT
993,", detection and monitoring of such acts in cl...",ageas_2007,1,1,1,AGEAS_2007.TXT
994,such acts in close collaboration with Compl...,ageas_2007,1,1,1,AGEAS_2007.TXT
995,Compliance and Fortis Audit Services. The Ta...,ageas_2007,1,1,1,AGEAS_2007.TXT
996,reasonable assurance that Fortis and its em...,ageas_2007,1,1,1,AGEAS_2007.TXT
997,"premium reserve 9,240 9,125 Capital...",ageas_2008,0,0,0,AGEAS_2008.TXT
998,660 660 Reserves not available for...,ageas_2008,0,0,0,AGEAS_2008.TXT
999,reserves Reserves available for distr...,ageas_2008,0,0,0,AGEAS_2008.TXT

In [279]:
df.to_csv("private/super_clean_data.csv", index=False)

In [280]:
df = pd.read_csv("private/super_clean_data.csv")
df.head(1000)

,text,company_year,dummy1,dummy2,dummy3,file_name
0,- creasing freight rates. The purchase o...,a.p. moller-maersk_2007,1,0,0,A.P. Moller-Maersk_2007.TXT
1,",209 Current - 135 527 662 Non-c...",a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT
2,9 Provisions made during the year 493 41...,a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT
3,"delivery from banks, export credit organisat...",a.p. moller-maersk_2008,1,0,0,A.P. Moller-Maersk_2008.TXT
4,"December 2008 6,853 447 9,711 17,011 ...",a.p. moller-maersk_2008,0,0,0,A.P. Moller-Maersk_2008.TXT
5,ns used during the year - 41 41 Prov...,a.p. moller-maersk_2008,0,0,0,A.P. Moller-Maersk_2008.TXT
6,\x92s envi- ronmental impact and its social r...,a.p. moller-maersk_2009,1,1,1,A.P. Moller-Maersk_2009.TXT
7,"urrent \x96 467 2,315 2,782 Classified a...",a.p. moller-maersk_2009,0,0,0,A.P. Moller-Maersk_2009.TXT
8,"otal 3,809 319 3,930 8,058 Non-current ...",a.p. moller-maersk_2009,0,0,0,A.P. Moller-Maersk_2009.TXT
9,global human rights standards associated wi...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
10,set by OECD for multinational enterprises e...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
11,been developed with the intention of closin...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
12,"has a Responsible Procurement Programme, hea...",a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
13,global labour principles in place to mitiga...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
14,the risk of non-compliance. Tax The Group i...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
15,different tax regimes in 130 countries and ...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
16,of an unex- pected tax expense due to uncert...,a.p. moller-maersk_2011,1,1,1,A.P. Moller-Maersk_2011.TXT
17,"2 1,375 20,947 4,515 2,760 2,539 205 2 ...",a.p. moller-maersk_2011,0,0,0,A.P. Moller-Maersk_2011.TXT
18,Human rights It is a priority for the Group ...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
19,compliant with the global human rights stan...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
20,and standards set by OECD for multinational ...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
21,implemented a Responsible Procurement Progr...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
22,global labour principles in place to miti- g...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
23,- gate the risk of non-compliance. Tax The Gr...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
24,is exposed to a large number of different t...,a.p. moller-maersk_2012,1,1,1,A.P. Moller-Maersk_2012.TXT
25,combinations Unwind of discount Exchange rat...,a.p. moller-maersk_2012,0,0,0,A.P. Moller-Maersk_2012.TXT
26,8 km long. 162 Notes to the financial st...,a.p. moller-maersk_2012,0,0,0,A.P. Moller-Maersk_2012.TXT
27,rate adjustment 31 December 2012 Of which: C...,a.p. moller-maersk_2012,0,0,0,A.P. Moller-Maersk_2012.TXT
28,", assets held for sale Exchange rate adjustm...",a.p. moller-maersk_2013,0,0,0,A.P. Moller-Maersk_2013.TXT
29,adjustment 31 December 2013 Of which: Cl...,a.p. moller-maersk_2013,0,0,0,A.P. Moller-Maersk_2013.TXT
...,...,...,...,...,...,...
970,track record ? ?Reputational risks arising...,3i grp_2011,1,0,0,3I GRP_2011.TXT
971,structure. Risks arising from inadequate o...,3i grp_2011,1,0,0,3I GRP_2011.TXT
972,track record ? ?Reputational risks arising...,3i grp_2011,1,0,0,3I GRP_2011.TXT
973,n n Group Risk Committee and Audit and Comp...,3i grp_2012,1,0,0,3I GRP_2012.TXT
974,n n Group Risk Committee and Audit and Comp...,3i grp_2012,1,0,0,3I GRP_2012.TXT
975,risks under active review by the Group Risk...,3i grp_2013,1,0,0,3I GRP_2013.TXT
976,the Group\x92s regulatory compliance funct...,3i grp_2013,1,1,1,3I GRP_2013.TXT
977,framework Annual and half-year reports Q...,3i grp_2014,1,0,0,3I GRP_2014.TXT
978,managing the business. \x96 Meets monthly. ...,3i grp_2015,1,0,0,3I GRP_2015.TXT
979,in value were recognised in profit or loss. ...,ageas_2005,0,0,0,AGEAS_2005.TXT
980,by Fortis were not recorded. Since treasury...,ageas_2005,0,0,0,AGEAS_2005.TXT
981,"banking risks Unlike FAP, IFRS does not all...",ageas_2005,0,0,0,AGEAS_2005.TXT
982,Capital gains due to revaluations IV Rese...,a. provisions for risks and char,0,0,0,A. Provisions for risks and charges
983,for distribution For own shares Other Tax...,a. provisions for risks and char,0,0,0,A. Provisions for risks and charges
984,distribution V Profit carried forward PRO...,a. provisions for risks and char,0,0,0,A. Provisions for risks and charges
985,", the ALM profile (in terms of fair value an...",ageas_2006,0,0,0,AGEAS_2006.TXT
986,sensitivity of the future net income to hyp...,ageas_2006,0,0,0,AGEAS_2006.TXT
987,"revaluations IV Reserves 6,504,060 6...",ageas_2006,0,0,0,AGEAS_2006.TXT
988,"556,063 556,063 1. For own shares ...",ageas_2006,0,0,0,AGEAS_2006.TXT
989,"distribution 5,373,608 5,373,609 V Profi...",ageas_2006,0,0,0,AGEAS_2006.TXT
990,register C2. Staff costs (item...,ageas_2006,0,0,0,AGEAS_2006.TXT
991,appointment of a new Compliance Of?cer. Di...,ageas_2007,1,1,1,AGEAS_2007.TXT
992,and accounting data communicated externally...,ageas_2007,1,1,1,AGEAS_2007.TXT
993,", detection and monitoring of such acts in cl...",ageas_2007,1,1,1,AGEAS_2007.TXT
994,such acts in close collaboration with Compl...,ageas_2007,1,1,1,AGEAS_2007.TXT
995,Compliance and Fortis Audit Services. The Ta...,ageas_2007,1,1,1,AGEAS_2007.TXT
996,reasonable assurance that Fortis and its em...,ageas_2007,1,1,1,AGEAS_2007.TXT
997,"premium reserve 9,240 9,125 Capital...",ageas_2008,0,0,0,AGEAS_2008.TXT
998,660 660 Reserves not available for...,ageas_2008,0,0,0,AGEAS_2008.TXT
999,reserves Reserves available for distr...,ageas_2008,0,0,0,AGEAS_2008.TXT

In [281]:
text = df.loc[6].text
text

' \\x92s envi- ronmental impact and its social responsibility approach.  The   report   is   available   on   www.maersk.com/sustainability.  R e g u l A t O R y   R I s k s  The business areas are geographically represented in a  variety of countries and the Group is therefore naturally  exposed to a number of legal risks, tax risks and risks  in connection with the reporting to public authorities or  other   external   reporting.   The Group already has many activities and organisa- tional support with the primary purpose of helping to  identify, monitor and manage the most material risks in  accordance with best practice. Most risks are managed  in the various business areas. The day-to-day '

In [282]:
import re
text = "my_company_2018(2)"
p1 = re.compile(r'[0-9]{4,4}')
p2 = re.compile(r'\(\d\)')
print(p1.findall(text))
print(p2.findall(text))

['2018']
['(2)']

In [283]:
re.sub(r'\(\d\)', '', text)

'my_company_2018'

In [284]:
company_year = df[['company_year']]
company_year[95:105]

             company_year
95       aareal bank_2014
96       aareal bank_2014
97    aareal bank_2015(2)
98    aareal bank_2015(2)
99    aareal bank_2015(2)
100   aareal bank_2015(2)
101   aareal bank_2015(2)
102   aareal bank_2015(2)
103   aareal bank_2015(2)
104   aareal bank_2015(2)

In [285]:
p = re.compile(r'\(\d\)')
company_year['company_year'].replace(p, '')[95:100]

95     aareal bank_2014
96     aareal bank_2014
97     aareal bank_2015
98     aareal bank_2015
99     aareal bank_2015
Name: company_year, dtype: object

In [286]:
df['company_year'] = df['company_year'].replace(p, '')

In [287]:
df.to_csv("private/super_clean_data.csv", index=False)

In [288]:
df = pd.read_csv("private/super_clean_data.csv")

In [289]:
df['company_year']

0             a.p. moller-maersk_2007
1             a.p. moller-maersk_2007
2             a.p. moller-maersk_2007
3             a.p. moller-maersk_2008
4             a.p. moller-maersk_2008
5             a.p. moller-maersk_2008
6             a.p. moller-maersk_2009
7             a.p. moller-maersk_2009
8             a.p. moller-maersk_2009
9             a.p. moller-maersk_2011
10            a.p. moller-maersk_2011
11            a.p. moller-maersk_2011
12            a.p. moller-maersk_2011
13            a.p. moller-maersk_2011
14            a.p. moller-maersk_2011
15            a.p. moller-maersk_2011
16            a.p. moller-maersk_2011
17            a.p. moller-maersk_2011
18            a.p. moller-maersk_2012
19            a.p. moller-maersk_2012
20            a.p. moller-maersk_2012
21            a.p. moller-maersk_2012
22            a.p. moller-maersk_2012
23            a.p. moller-maersk_2012
24            a.p. moller-maersk_2012
25            a.p. moller-maersk_2012
26            a.p. moller-maersk_2012
27            a.p. moller-maersk_2012
28            a.p. moller-maersk_2013
29            a.p. moller-maersk_2013
                     ...
28444     zurich insurance group_2012
28445     zurich insurance group_2013
28446     zurich insurance group_2013
28447     zurich insurance group_2013
28448     zurich insurance group_2013
28449     zurich insurance group_2013
28450     zurich insurance group_2013
28451     zurich insurance group_2013
28452     zurich insurance group_2013
28453     zurich insurance group_2013
28454     zurich insurance group_2014
28455     zurich insurance group_2014
28456     zurich insurance group_2014
28457     zurich insurance group_2014
28458     zurich insurance group_2014
28459     zurich insurance group_2014
28460     zurich insurance group_2014
28461     zurich insurance group_2014
28462     zurich insurance group_2014
28463     zurich insurance group_2014
28464     zurich insurance group_2015
28465     zurich insurance group_2015
28466     zurich insurance group_2015
28467     zurich insurance group_2015
28468     zurich insurance group_2015
28469     zurich insurance group_2015
28470     zurich insurance group_2015
28471     zurich insurance group_2015
28472     zurich insurance group_2015
28473     zurich insurance group_2015
Name: company_year, Length: 28474, dtype: object

In [290]:
df.company_year = df.company_year.astype(str)

In [291]:
p = re.compile(r'_[0-9]{4,4}$')
mask = df['company_year'].str.contains(p)

In [292]:
df = df[mask]

In [293]:
len(df)

26935

In [294]:
df.to_csv("private/super_clean_data.csv", index=False)

In [295]:
df = pd.read_csv("private/super_clean_data.csv")
df.head()

,text,company_year,dummy1,dummy2,dummy3,file_name
0,- creasing freight rates. The purchase o...,a.p. moller-maersk_2007,1,0,0,A.P. Moller-Maersk_2007.TXT
1,",209 Current - 135 527 662 Non-c...",a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT
2,9 Provisions made during the year 493 41...,a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT
3,"delivery from banks, export credit organisat...",a.p. moller-maersk_2008,1,0,0,A.P. Moller-Maersk_2008.TXT
4,"December 2008 6,853 447 9,711 17,011 ...",a.p. moller-maersk_2008,0,0,0,A.P. Moller-Maersk_2008.TXT

In [296]:
company = df.loc[0]['company_year'][:-5]
print(company)

 a.p. moller-maersk

In [297]:
df['company'] = df['company_year'].apply(lambda x: x[:-5])
df.head()

,text,company_year,dummy1,dummy2,dummy3,file_name,company
0,- creasing freight rates. The purchase o...,a.p. moller-maersk_2007,1,0,0,A.P. Moller-Maersk_2007.TXT,a.p. moller-maersk
1,",209 Current - 135 527 662 Non-c...",a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT,a.p. moller-maersk
2,9 Provisions made during the year 493 41...,a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT,a.p. moller-maersk
3,"delivery from banks, export credit organisat...",a.p. moller-maersk_2008,1,0,0,A.P. Moller-Maersk_2008.TXT,a.p. moller-maersk
4,"December 2008 6,853 447 9,711 17,011 ...",a.p. moller-maersk_2008,0,0,0,A.P. Moller-Maersk_2008.TXT,a.p. moller-maersk

In [299]:
year = df.loc[0]['company_year'][-4:]
print(year)

2007

In [300]:
df['year'] = df['company_year'].apply(lambda x: x[-4:])

In [301]:
df.head()

,text,company_year,dummy1,dummy2,dummy3,file_name,company,year
0,- creasing freight rates. The purchase o...,a.p. moller-maersk_2007,1,0,0,A.P. Moller-Maersk_2007.TXT,a.p. moller-maersk,2007
1,",209 Current - 135 527 662 Non-c...",a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT,a.p. moller-maersk,2007
2,9 Provisions made during the year 493 41...,a.p. moller-maersk_2007,0,0,0,A.P. Moller-Maersk_2007.TXT,a.p. moller-maersk,2007
3,"delivery from banks, export credit organisat...",a.p. moller-maersk_2008,1,0,0,A.P. Moller-Maersk_2008.TXT,a.p. moller-maersk,2008
4,"December 2008 6,853 447 9,711 17,011 ...",a.p. moller-maersk_2008,0,0,0,A.P. Moller-Maersk_2008.TXT,a.p. moller-maersk,2008

In [302]:
df.to_csv("private/super_clean_data.csv", index=False)

In [304]:
df = df.drop(['company_year'], axis=1)
df.head()

,text,dummy1,dummy2,dummy3,file_name,company,year
0,- creasing freight rates. The purchase o...,1,0,0,A.P. Moller-Maersk_2007.TXT,a.p. moller-maersk,2007
1,",209 Current - 135 527 662 Non-c...",0,0,0,A.P. Moller-Maersk_2007.TXT,a.p. moller-maersk,2007
2,9 Provisions made during the year 493 41...,0,0,0,A.P. Moller-Maersk_2007.TXT,a.p. moller-maersk,2007
3,"delivery from banks, export credit organisat...",1,0,0,A.P. Moller-Maersk_2008.TXT,a.p. moller-maersk,2008
4,"December 2008 6,853 447 9,711 17,011 ...",0,0,0,A.P. Moller-Maersk_2008.TXT,a.p. moller-maersk,2008

In [305]:
df = df[['text', 'company', 'year', 'file_name', 'dummy1', 'dummy2', 'dummy3']]
df.head()

,text,company,year,file_name,dummy1,dummy2,dummy3
0,- creasing freight rates. The purchase o...,a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,1,0,0
1,",209 Current - 135 527 662 Non-c...",a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,0,0,0
2,9 Provisions made during the year 493 41...,a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,0,0,0
3,"delivery from banks, export credit organisat...",a.p. moller-maersk,2008,A.P. Moller-Maersk_2008.TXT,1,0,0
4,"December 2008 6,853 447 9,711 17,011 ...",a.p. moller-maersk,2008,A.P. Moller-Maersk_2008.TXT,0,0,0

In [306]:
df.dummy1.value_counts()

0    19370
1     7565
Name: dummy1, dtype: int64

In [307]:
df.dummy2.value_counts()

0    22082
1     4853
Name: dummy2, dtype: int64

In [308]:
df.dummy3.value_counts()

0    24536
1     2399
Name: dummy3, dtype: int64

In [309]:
df.year = df.year.astype(int)

In [310]:
df.year.value_counts()

2015    4411
2014    3684
2013    3292
2012    2845
2011    2352
2010    2081
2009    2064
2008    1919
2007    1679
2006    1434
2005    1174
Name: year, dtype: int64

In [311]:
df.company.value_counts()

 bnp paribas                      454
 unicredit                        393
 barclays plc                     354
 ubi banca                        328
 natixis                          253
 poste italiane                   244
 credit agricole                  238
 komercni banka                   237
 grp societe generale             230
 deutsche bank                    228
 intesa sanpaolo                  206
 abn amro group                   205
 hsbc                             205
 mÃ¼nchener rueck                  202
 ing group                        199
 glaxosmithkline                  198
 scor                             198
 raiffeisen bank international    197
 kbc grp                          184
 astrazeneca                      181
 terna                            177
 telecom italia                   173
 prysmian                         172
 metro                            171
 standard life                    166
 nordea bank                      166
 lloyds banking grp               158
 continental                      152
 aviva                            152
 ubs                              147
                                 ...
 andritz                            3
 bunzl                              3
 worldpay group                     3
 dialog semicon                     3
 carnival                           3
 dufry                              3
 deutsche euroshop                  3
 osram                              3
 kone                               2
 smurfit kappa grp                  2
 b&m european value retail          2
 ashtead grp                        2
 dixons carphone                    2
 barry callebaut                    2
 bpost sa                           2
 admiral grp                        2
 h. lundbeck                        2
 aena                               2
 psp swiss property                 2
 software                           2
 paysafe group                      1
 auto trader group                  1
 kuehne + nagel                     1
 ets colruyt                        1
 howden joinery group               1
 cellnex telecom                    1
 nestle                             1
 chr hansen                         1
 sgs                                1
 uniper                             1
Name: company, Length: 577, dtype: int64

In [312]:
df.to_csv("private/clean_tax_risk_data.csv", index=False)